@font-face {
  font-family: "National";
  src: url("../assets/National2-Regular_convert.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica condensed bold";
  src: url("../assets/helvetica-condensed-bold.woff") format("woff");
  font-display: swap;
}