@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacity-animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;	
	}
}

/* animate new box */
.column {
	animation: opacity-animate .5s ease-out;
}

@import 'variables.scss';
@import 'fonts.scss';
@import 'typography.scss';
@import 'button.scss';
@import 'navigation.scss';

/* *, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

main {
  min-height: calc(100vh - calc(14rem / 1.6));
  padding-bottom: calc(10rem / 1.6);
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.content-container {
  margin: calc(4rem / 1.6) calc(5rem / 1.6) calc(4rem / 1.6) calc(8.5rem / 1.6);
  height: 100%;

  @media (max-width: 40em) {
    margin: 0 calc(3.5rem / 1.6) calc(4rem / 1.6) calc(6.5rem / 1.6);
  }
  
  @media (max-width: 64em) {
    margin: 0 calc(3.5rem / 1.6) calc(4rem / 1.6) calc(6.5rem / 1.6);
  }
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--pa-white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pa-maroon); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pa-maroon); 
}

::-moz-selection { /* Code for Firefox */
  color: var(--pa-white);
  background: var(--pa-red);
}

::selection {
  color: var(--pa-white);
  background: var(--pa-red);
}

.pa-contact-businesshours td:first-child {
  padding-right: calc(2rem / 1.6);
}
.pa-contact-businesshours table {
  width: calc(35rem / 1.6);
  max-width: 100%;
  font-size: calc(2rem / 1.6);
}

table {
  max-width: 100%;
}

select {
  -webkit-appearance:none;
}

input, textarea, select, button {
  font-family: 'National', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.swiper-slide {
  height: 100% !important;
}

.swiper-lazy {
  opacity: 0;
  transition: opacity .6s ease;
}

.swiper-lazy-loaded {
  opacity: 1;
}

img {
  transition: opacity .6s ease;
  width: 100%;
}

.img-lazy {
  opacity: 0;
}

.img-lazy[data-src] {
  opacity: 0;
}

.img-lazy[lazy=loading] {
  opacity: 0;
}

.img-lazy[lazy=loaded] {
  opacity: 1;
}