.logo-holder {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  background: var(--pa-white);
  z-index: 100000;

  .logo-left-holder,
  .logo-right-holder {
    position: relative;
  }

  .logo-left-holder {
    min-width: calc(8.5rem / 1.6);
    height: calc(calc(5rem / 1.6) + calc(.4rem / 1.6));
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index:100000;
    margin-top: calc(.1rem / 1.6);

    @media (max-width: 64em) {
      min-width: calc(6.5rem / 1.6);
      height: calc(4rem / 1.6);
    }

    & img {
      height: calc(3rem / 1.6);
      width: calc(6.4rem / 1.6);

      @media (max-width: 64em) {
        height: calc(2.5rem / 1.6) !important;
        width: calc(5.2rem / 1.6) !important;
      }
    }

    a,
    span {
      display: flex;
      margin-bottom: 4px;

      @media (max-width: 64em) {
        margin-bottom: 3px;
      }
    }
  }

  .logo-right-holder {
    min-width: calc(5rem / 1.6);
    height: calc(calc(5rem / 1.6) + calc(.4rem / 1.6));
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index:100000;
    margin-top: calc(.1rem / 1.6);

    @media (max-width: 64em) {
      min-width: calc(3.5rem / 1.6);
      height: calc(4rem / 1.6);
    }

    & img {
      height: calc(3rem / 1.6);
      width: calc(2.4rem / 1.6);
      
      @media (max-width: 64em) {
        height: calc(2.5rem / 1.6) !important;
        width: calc(1.9rem / 1.6) !important;
      }
    }

    & a {
      display: flex;
      margin-bottom: 4px;

      @media (max-width: 64em) {
        margin-bottom: 3px;
      }
    }
  }
}

.navbar-container {
  font-family: "Helvetica condensed bold", "Helvetica Neue",Arial,"Noto Sans",sans-serif;

  .pa-logo-border {
    width: 100%;
    border-bottom: 4px solid var(--pa-red);
    transform: translateX(0px);
    background-color: var(--pa-white);

    @media (max-width: 64em) {
      border-bottom-width: 3px;
    }
  }

  .pa-navigation {
    margin: calc(6rem / 1.6) calc(5rem / 1.6) 0 calc(9.5rem / 1.6);
    padding: calc(1rem / 1.6) 0;

    display: flex;
    gap: calc(1rem / 1.6);
    justify-content: flex-end;

    @media (max-width: 64em) {
      margin: calc(5rem / 1.6) calc(3.5rem / 1.6) 0 calc(6.5rem / 1.6);
    }

    .pa-mobile-nav-button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;
      display: none;
      height: calc(3rem / 1.6);

      svg {
        fill: var(--pa-maroon);
        width: calc(3rem / 1.6);
      }

      @media (max-width: 64em) {
        display: block;
      }
    }

    .pa-navigation-list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: calc(2rem / 1.6);

      a {
        color: var(--pa-maroon);
        text-decoration: none;
        text-transform: uppercase;
        font-size: clamp(calc(1.6rem / 1.6), 1vw + calc(1rem / 1.6), calc(2.4rem / 1.6));
        letter-spacing: -calc(.1rem / 1.6);

        &:hover {
          text-decoration: underline;
        }

        &.active--exact  {
          text-decoration: underline;
        }
      }

      @media (max-width: 64em) {
        width: 100%;
        flex-direction: column;
        margin-bottom: calc(3rem / 1.6);
        transform: translateY(-100%);
        margin-top: -100%;
        transition: all .6s ease-out;

        a {
          font-size: calc(3rem / 1.6);
          line-height: 1;
          text-transform: none;
        }

        &.active {
          margin-top: 0;
          transform: translateY(0);
        }
      }
    }
  }
}