.logo-holder {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  background: var(--pa-white);
  z-index: 100000;

  .logo-left-holder,
  .logo-right-holder {
    position: relative;
  }

  .logo-left-holder {
    min-width: 8.5rem;
    height: calc(5rem + .4rem);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index:100000;
    margin-top: .1rem;

    @media (max-width: 64em) {
      min-width: 6.5rem;
      height: 4rem;
    }

    & img {
      height: 3rem;
      width: 6.4rem;

      @media (max-width: 64em) {
        height: 2.5rem !important;
        width: 5.2rem !important;
      }
    }

    a,
    span {
      display: flex;
      margin-bottom: 4px;

      @media (max-width: 64em) {
        margin-bottom: 3px;
      }
    }
  }

  .logo-right-holder {
    min-width: 5rem;
    height: calc(5rem + .4rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index:100000;
    margin-top: .1rem;

    @media (max-width: 64em) {
      min-width: 3.5rem;
      height: 4rem;
    }

    & img {
      height: 3rem;
      width: 2.4rem;
      
      @media (max-width: 64em) {
        height: 2.5rem !important;
        width: 1.9rem !important;
      }
    }

    & a {
      display: flex;
      margin-bottom: 4px;

      @media (max-width: 64em) {
        margin-bottom: 3px;
      }
    }
  }
}

.navbar-container {
  font-family: "Helvetica condensed bold", "Helvetica Neue",Arial,"Noto Sans",sans-serif;

  .pa-logo-border {
    width: 100%;
    border-bottom: 4px solid var(--pa-red);
    transform: translateX(0px);
    background-color: var(--pa-white);

    @media (max-width: 64em) {
      border-bottom-width: 3px;
    }
  }

  .pa-navigation {
    margin: 6rem 5rem 0 9.5rem;
    padding: 1rem 0;

    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    @media (max-width: 64em) {
      margin: 5rem 3.5rem 0 6.5rem;
    }

    .pa-mobile-nav-button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;
      display: none;
      height: 3rem;

      svg {
        fill: var(--pa-maroon);
        width: 3rem;
      }

      @media (max-width: 64em) {
        display: block;
      }
    }

    .pa-navigation-list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 2rem;

      a {
        color: var(--pa-maroon);
        text-decoration: none;
        text-transform: uppercase;
        font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
        letter-spacing: -.1rem;

        &:hover {
          text-decoration: underline;
        }

        &.active--exact  {
          text-decoration: underline;
        }
      }

      @media (max-width: 64em) {
        width: 100%;
        flex-direction: column;
        margin-bottom: 3rem;
        transform: translateY(-100%);
        margin-top: -100%;
        transition: all .6s ease-out;

        a {
          font-size: 3rem;
          line-height: 1;
          text-transform: none;
        }

        &.active {
          margin-top: 0;
          transform: translateY(0);
        }
      }
    }
  }
}