:root {
  --pa-red: hsl(7,92%,49%);
  --pa-maroon: hsl(10,74%,23%);
  --pa-white: #FDF9F7;

  --swiper-navigation-color: #FDF9F7;
  --swiper-pagination-color: #FDF9F7;

  --swiper-navigation-size: 33px !important;

  @media (max-width: 48em) {
    --swiper-navigation-size: 22px !important;
  }
}